# Apple
.DS_Store
.AppleDouble

# Thumbnails
._*

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules
public/bundle.js
public/bundle.css
.nyc_output

